body{
    background-image: url('dark_wood.png'); 
}
div{
    outline-style: outset;
    outline-color: aqua;
    overflow: scroll;
    background-color: #8E41D5;
}

p{
    font-weight: Arial; 

}

img{
    opacity: 0.8;
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

li{
    display: inline-block;
}
a{
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}

ul{
    list-style: none;
    padding-left: 0px;
}

#Header{
    text-shadow: 2px 2px green;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
}

#Header h1{
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold; 

}

#LeftNav{
    transform: rotate(20deg);
    padding-bottom: 8px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
    border: solid 8px black;
}

#LeftNav img{

}

#LeftNav u1{
    
}

#LeftNave h3{

}

#Content {
    padding: 15px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
}

#Footer{
    text-align: center;
    border: solid 8px black;
}